*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --family-montserrat: "Montserrat", sans-serif;
  --font-18px: 1.125rem;
  --font-20px: 1.25rem;
  --font-24px: 1.5rem;
  --font-36px: 2.25rem;
  --font-50px: 3.125rem;
  --font-56px: 3.5rem;
  --font-64px: 4rem;

  --color-primary-yellow: #f7c43a;
  --color-secondary-yellow: #deb134;
  --color-black: #181818;
  --color-black-opacity: rgba(24, 24, 24, 0.80);
  --color-black-opacity-light: rgba(0, 0, 0, 0.60);
  --color-white: #fff;

  --icon-width: 3rem;
  --icon-height: 3rem;

  --weight-300: 300;
  --weight-600: 600;
  --weight-700: 700;
  --weight-900: 900;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: var(--family-montserrat);
  font-size: var(--font-18px);
}
img {
  max-width: 100%;
}
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
address {
  font-style: normal;
}
.container {
  margin: 0 auto;
  width: min(90%, 1200px);
}
.btn {
  display: inline-block;
  padding: 1em 2em;
  background-color: var(--color-primary-yellow);
  border-radius: 0.5em;
}
.material-symbols-outlined {
  font-size: var(--font-36px);
  display: inline-block;
}
/* HEADER AND NAV */
.primary__header {
  background-color: var(--color-black-opacity);
  position: relative;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  position: relative;
  z-index: 5;
}
.logo__img {
  width: min(45%, 200px);
}
.hamburger {
  position: relative;
  display: block;
  width: 40px;
  height: 50%;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}
.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
  margin: 6px 0px;
  transition: 0.4s;
}
.hamburger.is-active .bar {
  opacity: 0;
}
.hamburger.is-active::after {
  transform: translate(0, -10px) rotate(-45deg);
}
.hamburger.is-active::before {
  transform: translate(0, 8px) rotate(45deg);
}
.nav {
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 60vh;
  z-index: 2;
  background-color: var(--color-black);
  padding-top: 10rem;
  transition: 0.4s;
}
.nav.is-active {
  left: 0;
}
.nav__item {
  margin-bottom: 1.5em;
}
.nav__link {
  font-size: clamp(1.3rem, 2vw, var(--font-24px));
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
}
.nav__btn {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: var(--weight-700);
}
/* HERO */
.hero__background {
  background-image: url('assets/locked_belt_transport.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  min-height: 100%;
  position: absolute;
  inset: 0;
  z-index: -10;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
}
.hero__heading {
  font-size: clamp(2rem, 5vw, var(--font-56px));
  color: var(--color-white);
  font-weight: var(--weight-300);
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading-highlight {
  font-weight: var(--weight-700);
  color: var(--color-primary-yellow);
}
.hero__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  padding: 2em 0;
  margin: 0 auto;
  color: var(--color-white);
}
.hero__icon-text {
  text-transform: uppercase;
}
.icon__expand {
  animation: bounce 2s infinite linear;
}
.contact-item__text {
  font-size: clamp(1.2rem, 5vw, var(--font-24px));
  font-weight: var(--weight-700);
}
.contact__phone-number {
  padding: 1.5em 0;
}
.contact__phone-number > .contact-item__text {
  font-size: clamp(1.7rem, 2vw, var(--font-36px));
  font-weight: var(--weight-700);
  color: var(--color-primary-yellow);
}
.contact__section {
  background-color: var(--color-primary-yellow);
}
.contact-item {
  padding: 1.8em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
}
.contact__icon {
  color: var(--color-white);
  position: relative;
  z-index: 2;
}
.contact__icon::before {
  position: absolute;
  top: -25%;
  left: -25%;
  content: "";
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--color-secondary-yellow);
  z-index: -1;
}
.contact__phone-container {
  background-color: var(--color-black);
}

/* MAIN */
.main__primary-info-text {
  color: var(--color-black-opacity);
  font-size: clamp(1.25rem, 2vw, var(--font-18px));
}
.primary__info-list-icon {
  font-weight: var(--weight-700);
  color: var(--color-primary-yellow);
}
.primary__info-list-item {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 1em;
}
.primary__info-list-item:first-of-type {
  margin-top: 2em;
}
.primary-info-list-text {
  font-size: clamp(1.2rem, 2vw, var(--font-20px));
  color: var(--color-black-opacity-light);
  font-weight: var(--weight-300);
}


/* ANIMATIONS */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
